<footer class="footer">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
                <h5 class="footer-title mb-3">Hermanos Jota - Casa Taller</h5>
                <p>
                    Av. San Juan 2847 <br>
                    C1232AAB - Barrio de San Cristóbal <br>
                    Ciudad Autónoma de Buenos Aires <br>
                    Argentina
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title mb-3">Contacto</h5>
                <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                        <i class="fa-regular fa-envelope"></i> info@hermanosjota.com.ar
                    </li>
                    <li class="mb-1">
                        <i class="fa-regular fa-envelope"></i> ventas@hermanosjota.com.ar
                    </li>
                    <li class="mb-1">
                        <i class="fa-brands fa-instagram"></i> @hermanosjota_ba
                    </li>
                    <li>
                        <i class="fa-brands fa-whatsapp"></i> +54 11 4567-8900
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="footer-title mb-3">Horarios</h5>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Lunes a Viernes:</td>
                        <td>10:00 - 19:00</td>
                    </tr>
                    <tr>
                        <td>Sábados:</td>
                        <td>10:00 - 14:00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center p-3">
        © <span id="footer-year"></span> Hermanos Jota
    </div>
</footer>